<div id="panelExterno">
  <form [formGroup]="form" (ngSubmit)="enviarRegistro($event)">
    <div id="panelInterno">

        <div class="p-field column">
            <label>Nombre</label>
            <input id="inputNombreR" type="text" pInputText [pTooltip]="Msg[msgNumber]" tooltipEvent="focus" (blur)="msgNumber=0" formControlName="nombre"/>
        </div>

        <div class="p-field column">
            <label>Username</label>
            <input id="inputUsernameR" type="text" pInputText [pTooltip]="Msg[msgNumber]" tooltipEvent="focus" (blur)="msgNumber=0"  formControlName="login"/>
        </div>

        <div id="divPasswords" class="row">
             <div id="divPass" class="p-field column">
                <label>Password</label>
                <p-password id="inputPasswordR" [pTooltip]="Msg[msgNumber]" tooltipEvent="focus" (blur)="msgNumber=0" formControlName="password"></p-password>
            </div>
            <div id="divRepPass" class="p-field column">
                <label>Repetir Password</label>
                <input id="inputPasswordRepetidoR" type="password" pInputText  [pTooltip]="Msg[msgNumber]" tooltipEvent="focus" (blur)="msgNumber=0" formControlName="passwordRepetido"/>
            </div>
        </div>

        <div id="options" class="row">
            <div id="divTipoUsuario">
                <label>Tipo de Usuario</label>
                <p-selectButton [options]="getTiposUsuario()" optionLabel="name" optionValue="value" formControlName="tipo_usuario"></p-selectButton>
            </div>
            <button pButton type="submit" id="btnEnviar" label="Enviar"></button>
        </div>

    </div>
  </form>
</div>
