<div id="panelExterior">
    <form [formGroup]="form" (ngSubmit)="enviarRegistro($event)">
        <div id="panelInterior">
            <div class="row">
                <div *ngIf="state =='nuevo'" id="panel1"class="column" >
                    <div class="p-field column divBusquedas">
                        <label>Auto</label>
                        <app-busqueda #aut modo="list" [serv]="autosServ" [condiciones]="condicionesBusquedaAutos" (itemTar)="itemTargetAuto($event)"></app-busqueda>
                    </div>
                    <div  id="divSelect" class="p-field column divBusquedas">
                        <label>Tipo de Servicio</label>
                        <select id="tipo_servicio" formControlName="tipo_servicio" [pTooltip]="formError.tipo_servicio" tooltipEvent="focus">
                            <option *ngFor="let item of listaTiposServicio" [ngValue]="item.id">{{item.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div id="panel2">
                    <div id="fechaIniFin" class="column">
                        <div class="row">
                            <div *ngIf="form.value.estado == 'FINALIZADO'" class="p-field column">
                                <label>Fecha Fin</label>
                                <input id="fecha_fin" type="date" [pTooltip]="formError.fecha_fin" tooltipEvent="focus" formControlName="fecha_fin"/>
                            </div>
                            <div *ngIf="form.value.estado == 'FINALIZADO' || form.value.estado == 'CANCELADO'" class="p-field column">
                                <label>KM Inicial</label>
                                <input  id="km_inicial" type="number" pInputText [value]="form.value.km_inicial" [disabled]="true" />
                            </div>
                            <div *ngIf="form.value.estado == 'FINALIZADO' || form.value.estado == 'CANCELADO'" class="p-field column">
                                <label>KM Final</label>
                                <input  id="km_final" type="number" pInputText [pTooltip]="formError.km_final" tooltipEvent="focus" formControlName="km_final"/>
                            </div>
                            <div id="divValor">
                                <div *ngIf="form.value.estado == 'FINALIZADO'" class="p-field column">
                                     <label>Valor Servicio</label>
                                     <input  id="valor_servicio" type="number" pInputText [pTooltip]="formError.valor_servicio" tooltipEvent="focus" formControlName="valor_servicio"/>
                                 </div> 
                             </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div *ngIf="state =='nuevo' || state == 'cancelar'"  id="divDescripcion">
                <label>Descripcion</label>
                <textarea pInputTextarea id="descripcion" formControlName="descripcion"></textarea>
            </div>
            <div id="options" class="row">
                <button *ngIf="state == 'nuevo'" pButton id="btnVaciar" label="Vaciar" icon="fas fa-trash" (click)="vaciar()"></button>
                <button pButton type="submit" id="btnGuardar" label="Guardar" icon="fas fa-save"></button>
            </div>
        </div>
    </form>   
</div>

