<div id="background">
    <div id="divTableServicios">
         <p-table id="tableServicios" [value]="listaServicios" styleClass="p-datatable-striped" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div id="divTitle" class="p-d-flex p-ai-center p-jc-between">
                    <label>Lista de Servicios</label>
                </div>
                <div id="divAdd" class="row">
                    <button *ngIf="adminPermision()" pButton icon="fas fa-plus" (click)="displayState('nuevo',{})"></button>
                    <div id="divBusqueda"><app-busqueda modo="filter" [condiciones]="condicionesBusqueda" (resultado)="resultadoBusqueda($event)"></app-busqueda></div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                 <tr>
                     <th>Fecha Inicio</th>
                     <th>Fecha Fin</th>
                     <th>KM Recorrido</th>
                     <th>Valor</th>
                     <th>Estado</th>
                     <th>Tipo Servicio</th>
                     <th>Descripcion</th>
                     <th><i class="fas fa-car"></i> Auto</th>
                     <th><i class="fas fa-user"></i> Usuario</th>
                     <th><i class="far fa-plus-square"></i> Info</th>
                     <th *ngIf="adminPermision()"><i class="fas fa-wrench"></i>  Opciones</th>
                 </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{formatDateItem(item).fecha_inicio}}</td>
                    <td>{{formatDateItem(item).fecha_fin}}</td>
                    <td>{{item.km_final?item.km_final - item.km_inicial:""}}</td>
                    <td>{{item.valor_servicio}}</td>
                    <td><div class="bord">{{item.estado}}</div></td>
                    <td>{{item.tipo_servicio.descripcion}}</td>
                    <td>{{item.descripcion}}</td>
                    <td><button pButton icon="fas fa-car" (click)="displayAut(item.auto)"></button></td>
                    <td><button pButton icon="fas fa-user" (click)="displayUsuari(item.usuario)"></button></td>
                    <td><button pButton icon="fas fa-info" (click)="displayInf(item)"></button></td>
                    <td>
                        <div id="options">
                            <button *ngIf="item.estado == 'EN_PROCESO'" pButton icon="fas fa-ban" (click)="displayState('cancelar',item)"></button>
                            <button *ngIf="item.estado == 'EN_PROCESO'" pButton icon="fas fa-check" (click)="displayState('finalizar',item)"></button>
                            <button *ngIf="adminPermision() && item.estado !== 'EN_PROCESO'" pButton icon="fas fa-trash" (click)="confirmElim(item)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div id="paginator" class="p-col-10">
            <p-paginator  [rows]="5" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"></p-paginator>
        </div>
    </div>
</div>

<p-dialog [header]="titleModal" [modal]="true" [(visible)]="displayNuevoServicio">
    <app-nuevo-servicio #servici (reloadPage)="reloadPage()" (exitNuevo)="exitNuevo($event)"></app-nuevo-servicio>
</p-dialog>


<p-dialog header="Mas Informacion" [modal]="true" [(visible)]="displayInfo">
    <app-info #inf [campos]="['fecha_creacion','fecha_alteracion']"></app-info>
</p-dialog>

<p-dialog header="Auto" [modal]="true" [(visible)]="displayAuto">
    <app-info #aut [campos]="['chapa','modelo','fabricante','disponibilidad']"></app-info>  
</p-dialog>

<p-dialog header="Usuario" [modal]="true" [(visible)]="displayUser">
    <app-info #usuari  [campos]="['nombre','login','tipo_usuario']" ></app-info>
</p-dialog>
