#panelExterior{
    width: 450px;
    display: flex;
    flex-direction: column;
}
#panelInterior{
    height: 100%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.column{
    width: 100%;
    display: flex;
    flex-direction: column;
}
input{
    margin-top: 3px;
}
#panel1{
    margin-right: 8px;
}
#panel2{
    margin-left: 8px;
}
#divDescripcion{
    height: 70px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
#divDescripcion label{
    margin-bottom: 3px;
}
textarea{
    resize:none;
}
#divDisponibilidadAuto{
    margin-top: 10px;
}
#options{
   margin-top: 19px;
}
#options button{
    width: 110px;
    height: 45px;
}
#btnVaciar{
    margin-right: auto;
}
#btnGuardar{
    margin-left: auto;
}
.margen{
    margin-top: 6px;
}