#back{
    width: 100%;
    min-width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
#table{
  border-style: solid;
  border-width: 1px;
  border-width: 1px;
}
#head th{
   padding: 10px;
   align-items: center;
}
#body td{
  padding: 10px;
  padding-left: 30px;
  align-items: center;
}
