#panelExterno{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#divAgregar{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}
#descripcion{
    width: 70%;
}
#inputGuardar{
    width: 51.5%;
    margin-right: 1%;
}
#administrarTipo{
    width: 100%;
}
#divAdministrar{
    width: 490px;
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}
#selectAdministrar{
    width: 50%;
    height: 100%;
}
#btnModificar{
    margin-left: 2%;
}
#btnEliminar{
    margin-left: 1%;
}
#btnAgregar{
    margin-left: 3%;
}
#agregarTipo{
    margin-bottom: 20%;
}
#btnGuardar{
    margin-right: 1%;
}
label{
    font-size: 20px;
    font-weight: bold;
}
#divModElim{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#divGuardCancel{
    width: 100%;
}
