<!--Modal configuraciones-->
<p-dialog [modal]="true" header="Configuraciones" [(visible)]="displayConfiguraciones">
    <app-configuraciones #conf ></app-configuraciones>
</p-dialog>

<!--Logo de Datapar-->
<div id="logo">
    <img src="../assets/imagenes/datapar-recorte.png" alt="">
</div>

<div id="panelExterior">
    <p-menubar [model]="items" *ngIf="isLogged()">
        <ng-template pTemplate="start">
            <img src="../assets/imagenes/car.jpg" height="48px" class="p-mr-2">
        </ng-template>
    </p-menubar>
    <router-outlet></router-outlet>
</div>
