<div id="background">
    <p-toast position="top-right"></p-toast>
    <div id="panelExterno">
        <p-card [style]="{width:'100%', heigh:'100%'}" header="Login">
            <div id="imgLogin">
                <img src="../../../assets/imagenes/icon-coches-recortado.png" alt="">
            </div>
            <hr>
            <div id="panelInterno">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input id="inputUsername" type="text" pInputText placeholder="Username" (blur)="user.login = getValue($event)" (keyup.enter)="focusPassword()">         
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input id="inputPassword" type="password" pInputText placeholder="Password" (blur)="user.password = getValue($event)" (keyup.enter)="focusBtnEnter()">         
                </div>
                <button pButton id="btnEnter" label="Enter" (click)="login()"></button>
                <label id="registro" (click)="displayRegistro=true">Registre-se</label>
                <p-dialog [modal]="true" header="Registro" [(visible)]="displayRegistro">
                    <app-register></app-register>
                </p-dialog>
            </div>
        </p-card>  
    </div>
</div>